<h2> Welcome to DevelopX Challenge </h2>
<h4> Firstly, It's a demo app</h4>

<form action="/request" method="GET">
  <input type="number" placeholder="Please Type Amount" onkeydown="return event.keyCode !== 69" name="amount"
    style="font-size: 13pt" size=25 max=10000>
  <input type="Submit" style="font-size: 13pt" value="Withdraw with Get">
</form>

<form action="/request" method="POST">
  <input type="number" placeholder="Please Type Amount " onkeydown="return event.keyCode !== 69" name="amount"
    style="font-size: 13pt" size=30 max=10000>
  <input type="Submit" style="font-size: 13pt" value="Withdraw with Post">
</form>