<%- include('header'); -%>

<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="/" class="breadcrumb">CashMachine Service</a>
    </div>
  </div>
</nav>
<div class="collection">
  <h4>Welcome to Cashmachine Service</h4>
  <a href="/withdraw" class="collection-item"><button class="btn waves-effect waves-light" type="submit"
      name="action">Withdraw
      <i class="material-icons right">last_page</i>
    </button></a>
</div>