<%- include('header'); -%>

<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <a href="/" class="breadcrumb">CashMachine Service</a>
    </div>
  </div>
</nav>
<div class="collection">
  <div>
    <h4>Welcome to Cashmachine Service
      <a href="/api-docs"><button class="btn waves-effect waves-light" type="submit" name="action">Swagger
          <i class="material-icons right">info</i>
        </button></a>
    </h4>
  </div>
  <a href="/api/v1/withdraw" class="collection-item"><button class="btn waves-effect waves-light" type="submit"
      name="action">Withdraw Page
      <i class="material-icons right">last_page</i>
    </button></a>
</div>