<h2> Welcome to Cash Machine of DevelopX </h2>
<form action="/request" method="GET">
    <input type="number" placeholder="Please type amount" name="amount" style="font-size: 13pt" size=30>
    <input type="Submit" style="font-size: 13pt" value="withdraw">
</form>
