<h4>Result:</h4>
<ul>
  <% if(result.length!==0){%>

  <%result.forEach(function(val){%>
  <li>
    <%=val%>
  </li>

  <%})%>
  <%}else{%>
  <li>
    0
  </li>
  <%}%>
    
</ul>

<p><a href="/"><button>Back to Home</button></a></p>