<h4>Result:</h4>
<ul>
  <% if(result.length!==0){%>

  <%result.forEach(function(val){%>
  <li>
    <%=val%>
  </li>

  <%})%>
  <%}else{%>
  <li>
    Empty Set
  </li>
  <%}%>
    
</ul>

<p><a href="/withdraw"><button>Back to Withdraw Page</button></a></p>