<h4> Withdraw Page </h4>

<form action="/withdraw/withFront" method="POST">
  <input type="number" placeholder="Please Type Amount" onkeydown="return event.keyCode !== 69" name="amount"
    style="font-size: 13pt" size=25 max=10000 required value="">
  <input type="Submit" style="font-size: 13pt" value="Withdraw ">
</form>